<ion-header>
  <ion-toolbar>
    <ion-title>
      Edge-To-Edge
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list lines="full">

    <ion-item class="ion-margin-bottom">
      <ion-input label="Click me 1!" labelPlacement="floating" placeholder="Enter text"></ion-input>
    </ion-item>

    <ion-item class="ion-margin-bottom">
      <ion-input label="Click me 2!" labelPlacement="floating" placeholder="Enter text"></ion-input>
    </ion-item>

    <ion-item class="ion-margin-bottom">
      <ion-input label="Click me 3!" labelPlacement="floating" placeholder="Enter text"></ion-input>
    </ion-item>

    <ion-item class="ion-margin-bottom">
      <ion-input label="Click me 4!" labelPlacement="floating" placeholder="Enter text"></ion-input>
    </ion-item>

    <ion-item class="ion-margin-bottom">
      <ion-input label="Click me 4!" labelPlacement="floating" placeholder="Enter text"></ion-input>
    </ion-item>

    <ion-item class="ion-margin-bottom">
      <ion-input label="Click me 6!" labelPlacement="floating" placeholder="Enter text"></ion-input>
    </ion-item>

    <ion-item class="ion-margin-bottom">
      <ion-input label="Click me 7!" labelPlacement="floating" placeholder="Enter text"></ion-input>
    </ion-item>

    <ion-item class="ion-margin-bottom">
      <ion-input label="Click me 8!" labelPlacement="floating" placeholder="Enter text"></ion-input>
    </ion-item>

  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title> Edge-To-Edge </ion-title>
  </ion-toolbar>
</ion-footer>
